.hero{
   background-image: url(/images/poster.png);
   background-position: bottom;
   height: 500px;   
   background-color: rgb(8, 82, 30);

   margin-bottom: 4rem;
   position: relative;
   
}

.nav-menu{
    position:absolute;
    left: 2rem;
    top: 2rem;
}
